<div id="app"></div>

{{!-- templates ---------------------------------------------------------- --}}
{{> weather_app/show/layout}}
{{> weather_app/show/index}}

{{> weather_app/weather/layout}}
{{> weather_app/weather/current-weather}}
{{> weather_app/weather/daily-forecast}}
{{> weather_app/weather/daily-forecasts}}
{{> weather_app/weather/recent-search}}
{{> weather_app/weather/recent-searches}}
{{> weather_app/weather/times}}

{{!-- javascripts -------------------------------------------------------- --}}
<script src="javascripts/svg.js"></script>
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/underscore.js"></script>
<script src="javascripts/backbone.js"></script>
<script src="javascripts/marionette.js"></script>
<script src="javascripts/moment.js"></script>

<script src="javascripts/app.js"></script>

<script src="javascripts/entities/weather.js"></script>

<script src="javascripts/apps/weather_app/weather_app.js"></script>
<script src="javascripts/apps/weather_app/show/show_view.js"></script>
<script src="javascripts/apps/weather_app/show/show_controller.js"></script>
<script src="javascripts/apps/weather_app/weather/requests.js"></script>
<script src="javascripts/apps/weather_app/weather/weather_view.js"></script>
<script src="javascripts/apps/weather_app/weather/weather_controller.js"></script>

<script>
  App.start();
</script>
