<div id="app"></div>

{{!-- templates ---------------------------------------------------------- --}}

{{!-- javascripts -------------------------------------------------------- --}}
<script src="jquery-2.1.1.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script src="svg.js"></script>

<script src="javascripts/views/appView.js"></script>
<script src="javascripts/router.js"></script>
