<div id="app"></div>

{{!-- templates ---------------------------------------------------------- --}}
{{> index-view-template}}
{{> weather-view-template}}

{{!-- javascripts -------------------------------------------------------- --}}
<script src="svg.js"></script>
<script src="jquery-2.1.1.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script src="marionette.js"></script>
<script src="moment.js"></script>

<script src="javascripts/views/indexView.js"></script>
<script src="javascripts/models/weatherModel.js"></script>
<script src="javascripts/collections/recentSearches.js"></script>
<script src="javascripts/views/weatherView.js"></script>
<script src="javascripts/controllers/appController.js"></script>
<script src="javascripts/router.js"></script>
<script src="javascripts/app.js"></script>

<script>
  App.start();
</script>
