<div id="app"></div>

{{!-- templates ---------------------------------------------------------- --}}
{{> weather-show-layout}}

{{> weather-show-index}}

{{> weather-show-recent-search}}
{{> weather-show-recent-searches}}
{{> weather-show-daily-forecast}}
{{> weather-show-daily-forecasts}}
{{> weather-show-times}}
{{> weather-show-current-weather}}

{{!-- javascripts -------------------------------------------------------- --}}
<script src="svg.js"></script>
<script src="jquery-2.1.1.js"></script>
<script src="underscore.js"></script>
<script src="backbone.js"></script>
<script src="marionette.js"></script>
<script src="moment.js"></script>

<script src="javascripts/app.js"></script>

<script src="javascripts/entities/weather.js"></script>

<script src="javascripts/apps/weather_app/weather_app.js"></script>
<script src="javascripts/apps/weather_app/show/show_view.js"></script>
<script src="javascripts/apps/weather_app/show/show_controller.js"></script>

<script>
  App.start();
</script>
