<div id="app"></div>

{{!-- templates ---------------------------------------------------------- --}}
{{> weather_app/show/layout}}
{{> weather_app/show/index}}

{{> weather_app/weather/layout}}
{{> weather_app/weather/current-weather}}
{{> weather_app/weather/forecasts-layout}}
{{> weather_app/weather/daily-forecast}}
{{> weather_app/weather/daily-forecasts}}
{{> weather_app/weather/hourly-forecast}}
{{> weather_app/weather/hourly-forecasts}}
{{> weather_app/weather/recent-search}}
{{> weather_app/weather/recent-searches}}
{{> weather_app/weather/times}}
{{> weather_app/weather/error}}

{{!-- javascripts -------------------------------------------------------- --}}
<script src="javascripts/svg.js"></script>
<script src="javascripts/jquery-2.1.1.js"></script>
<script src="javascripts/underscore.js"></script>
<script src="javascripts/backbone.js"></script>
<script src="javascripts/marionette.js"></script>
<script src="javascripts/moment.js"></script>
<script src="javascripts/chartjs/Chart.min.js"></script>
<script src="javascripts/chartjs/charts_config.js"></script>

<script src="compiled/app.js"></script>

<script>
  App.start();
</script>
