<!doctype html>
<html>
  <head>
    <title>Weathr</title>
    <meta name="viewport" content="initial-scale=1">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/icons/ionicons/ionicons.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css" media="screen">
  </head>
  <div id="super-container">
    <header>
      {{> header}}
    </header>
    <body>
      {{{body}}}
    </body>
    <footer>
      {{> footer}}
    </footer>
  </div>
</html>
