<script type="template" id="index-view-template">
  <section class="full-screen">
    <div class="index-form-container">
      <form id="index-location-search" onsubmit="event.preventDefault();">
        <h3>Weathrizr</h3>
        <input id="location" name="location" type="search" class="form-control" placeholder="Search for a location">
        <button type="submit" class="btn btn-primary">
          <span class="step size-14">
            <i class="icon ion-search"></i>
          </span>
        </button>
      </form>

      <button id="current-location" class="btn btn-primary">
        <span class="step size-18">
          <i class="icon ion-android-locate"></i>
        </span>
      </button>
    </div>
  </section>
</script>
