<script type="template" id="index-view-template">
  <form id="index-location-search" onsubmit="event.preventDefault();">
    <h3>Weathr App</h3>
    <label for="location">Search for a location</label>
    <input id="location" name="location" type="search" class="form-control" placeholder="e.g. Boston, MA">
    <button type="submit" class="btn btn-primary">
      <span class="step size-16">
        <i class="icon ion-search"></i>
      </span>
    </button>
  </form>
</script>
