<script type="template" id="weather-view-template">
  <section id="weather">
    <h1>This is the weather view</h1>

    <div class="center-content">
      <div style="float:left;">
        <span class="step size-24">
          <i class="icon ion-arrow-up-c"></i>
        </span>
        <span class="step size-24">
          <i class="icon ion-refresh"></i>
        </span>
      </div>
      <h1 class="current-time"></h1>
    </div>
  </section>
</script>
