<script type="template" id="weather-view-template">
  <section id="weather" class="full-screen">

    <div class="top-left recent-searches">
      <h4>Recent Searches</h4>
      <ul class="recent-searches-list">

      </ul>

      <form id="location-search" class="location-search" onsubmit="event.preventDefault();">
        <input id="location" name="location" type="search" class="form-control" placeholder="Search for a location">
        <button type="submit" class="btn btn-primary">
          <span class="step size-14">
            <i class="icon ion-search"></i>
          </span>
        </button>
      </form>
    </div>

    <div class="top-right daily-weather">
      <h4>Forecast</h4>
      <ul id="forecast-list"></ul>
    </div>

    <div class="center-content">
      <div style="float:left;">
        <span class="step size-24">
          <i class="icon ion-arrow-up-c"></i>
        </span>
        <span class="step size-24">
          <i class="icon ion-refresh"></i>
        </span>
      </div>
      <h1 class="current-time"></h1>
    </div>

    <div class="bottom-left">
      <div class="current-content">

        <h3 class="current-high-low">
          <span class="high">
            <span>
              <i class="icon ion-ios7-arrow-thin-up"></i>
            </span>
            <%= Math.round( weather.daily.data[0].apparentTemperatureMax ) %>&deg;
          </span>

          <span class="low">
            <span>
              <i class="icon ion-ios7-arrow-thin-down"></i>
            </span>
            <%= Math.round( weather.daily.data[0].apparentTemperatureMin ) %>&deg;
          </span>
        </h3>
        <h1 class="current-temp">
          <%= Math.round( weather.currently.temperature ) %>
          <span>&deg; F</span>
        </h1>

        <div class="current-weather-summary">
          <p class="weather-summary">
            <span class="step size-32">
              <i class="icon <%= weather.currently.icon %>"></i>
            </span>
            <%= weather.currently.summary %>
          </p>
        </div>

      </div>
    </div>

  </section>
</script>
