<script type="template" id="weather-view-template">
  <section id="weather">

    <div class="center-content">
      <div style="float:left;">
        <span class="step size-24">
          <i class="icon ion-arrow-up-c"></i>
        </span>
        <span class="step size-24">
          <i class="icon ion-refresh"></i>
        </span>
      </div>
      <h1 class="current-time"></h1>
    </div>

    <div class="bottom-left">
      <div class="current-content">

        <h1 class="current-temp">
          <%= currently.temperature %>
          <span>&deg; F</span>
        </h1>

        <div class="current-weather-summary">
          <p class="weather-summary">
            <span class="step size-32">
              <i class="icon <%= currently.icon %>"></i>
            </span>
            <%= currently.summary %>
          </p>
        </div>

      </div>
    </div>

  </section>
</script>
