html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  font: 14px 'Helvetica Neue', "HelveticaNeue-Light", "Helvetica Neue Light",
    "Lato", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
}

.clear {
  clear: both;
}




// typography -----------------------------------------------------------------
a {
  color: white;
  font-size: 12px;
  font-weight: 200;
  text-transform: none;

  &:hover {
    color: white;
    text-transform: underline;
    font-size: 12px;
  }
}
.current {
  font-weight: bold;
}
.form-control::-webkit-input-placeholder {
  color: rgba(255,255,255,.6);
}
.form-control::-moz-placeholder {
  color: rgba(255,255,255,.6);
}
.form-control:-moz-placeholder {
  color: rgba(255,255,255,.6);
}
.form-control:-ms-input-placeholder {
  color: rgba(255,255,255,.6);
}




// app-wide styling -----------------------------------------------------------
#super-container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  min-width: 900px;
  min-height: 500px;
  overflow: hidden;
}

#app {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}

.full-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}





// index page -----------------------------------------------------------------
.index-form-container {
  position: relative;
  width: 470px;
  background: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 2px;
  margin: auto;
  top: 50%;
  height: 108px;
  margin-top: -54px;
  border: 0px;
  overflow: hidden;

  h3 {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
    margin-bottom: 0px;
  }

  #current-location {
    float: right;
    border-radius: 4px;
    padding: 0px 10px;
    min-height: 34px;
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid rgba(255, 255, 255, 0.15);

    &:hover {
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

.location-search {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;

  input {
    float: left;
    width: 90%;
    margin-right: 0px;
    border-radius: 0px;
    border: 0px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding-left: 21px;
  }

  button {
    float: left;
    border-radius: 0px;
    padding: 0px;
    height: 34px;
    width: 10%;

    &:hover {
      i { opacity: .3; }
    }
  }

}





// weather page ---------------------------------------------------------------
#weather {

  .top-left {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .center-content {
    position: relative;
    margin: auto;
    width: 300px;
    height: 60px;
    top: 50%;
    margin-top: -30px;
    text-align: center;
  }

  .bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .top-right {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.current-time {
  font-size: 50px;
  font-weight: 200;

  span {
    font-weight: 100;
    font-size: 29px;
  }

  h2 {
    text-align: right;
    font-weight: 200;
    margin-top: 0px;
    margin-right: 16px;

    span:first-child {
      font-size: 12px;
    }
  }
}

.current-content {
  position: relative;

  .current-weather-summary {
    float: left;
    margin-top: 48px;
    margin-left: 10px;

    p {
      margin: 0px;
    }
  }

  .weather-summary {
    span {
      display: inline-block;
    }
  }
}

.current-temp {
  float: left;
  font-weight: 100;
  font-size: 100px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 80px;
  height: 80px;

  span {
    margin-left: -30px;
    top: -50px;
    position: relative;
    font-size: 30px;
    font-weight: 100;
  }
}



.recent-searches {
  background: rgba(0, 0, 0, 0.2);
  padding: 21px;
  padding-top: 9px;
  padding-bottom: 34px;
  border-radius: 2px;
  min-width: 300px;

  .recent-searches-list {
    list-style-type: none;
    padding-left: 0px;
  }

  li {
    margin-bottom: 7px;
  }
  a span {
    float: left;
    margin-right: 1px;
  }
}

.current-high-low {
  margin-bottom: 0px;
  font-size: 24px;
  font-weight: 100;

  .high, .low {
    display: inline-block;
    margin-right: 5px;

    span {
      display: inline-block;
      margin-right: -6px;
      font-size: 36px;
      width: 28px;
    }
  }
}

.daily-weather {
  background: rgba(0, 0, 0, 0.2);
  padding: 21px;
  padding-top: 9px;
  padding-bottom: 9px;
  width: 300px;

  #forecast-list {
    margin-left: -21px;
    margin-right: -21px;
    min-width: 300px;
    padding: 0px;
    list-style-type: none;

    li {
      background: rgba(0,0,0,0);
      padding: 21px;
      padding-bottom: 9px;
      padding-top: 9px;
      min-height: 40px;
      position: relative;

      -webkit-box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 0.3);;
      box-shadow: inset 0px 10px 20px -15px rgba(0, 0, 0, 0.3);;

      -webkit-transition: 500ms;
      transition: 500ms;

      &:hover {
        -webkit-box-shadow: inset 0px 10px 1000px -5px rgba(0, 0, 0, 0.6);
        box-shadow: inset 0px 10px 1000px -5px rgba(0, 0, 0, 0.6);
        cursor: pointer;
      }

      p {
        margin: 0px;
      }
    }

    .active {
      -webkit-box-shadow: inset 0px 10px 1000px -5px rgba(0, 0, 0, 0.6);
      box-shadow: inset 0px 10px 1000px -5px rgba(0, 0, 0, 0.6);
      cursor: pointer;
    }

  }

  .daily-container {
    position: relative;

    .date {
      position: absolute;
      margin-top: 2px;
    }
    .step {
      position: relative;
      display: block;
      margin: auto;
    }
    .high-low {
      position: absolute;
      right: 0px;
      top: 2px;
    }
  }

  .more-info {
    display: none;
    padding-top: 9px;
    padding-bottom: 9px;

    p {
      text-align: left;
      font-size: 12px;
      font-weight: 200;
      letter-spacing: .5px;
    }
  }
}




// icons ----------------------------------------------------------------------
.step:hover i { opacity: 1; }
.step i {
  text-align: center;
  display: block;
}

.size-12 { font-size: 12px; width: 12px; }
.size-14 { font-size: 14px; width: 14px; }
.size-16 { font-size: 16px; width: 16px; }
.size-18 { font-size: 18px; width: 18px; }
.size-21 { font-size: 21px; width: 21px; }
.size-24 { font-size: 24px; width: 24px; }
.size-32 { font-size: 32px; width: 32px; }
.size-48 { font-size: 48px; width: 48px; }
.size-64 { font-size: 64px; width: 64px; }
.size-96 { font-size: 96px; width: 96px; }

.clear-day, .clear-night, .rain, .snow, .sleet, .wind, .fog, .cloudy,
.partly-cloudy-day, .partly-cloudy-night {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.clear-day:before   { content: "\f1e4"; }
.clear-night:before { content: "\f1b2"; }
.rain:before   { content: "\f2b7"; }
.snow:before   { content: "\f309"; }
.sleet:before  { content: "\f1cf"; } // rain icon
.wind:before   { content: "\f1cf"; } // not set...
.fog:before    { content: "\f1cf"; } // not set...
.cloudy:before { content: "\f12b"; }
.partly-cloudy-day:before   { content: "\f1bc"; }
.partly-cloudy-night:before { content: "\f308"; }
