<script type="template" id="show-index">
  <div class="index-form-container">
    <h3 style="float:left;">Weathrizr</h3>

    <button id="current-location" class="btn btn-primary">
      <span class="step size-18">
        <i class="icon ion-android-locate"></i>
      </span>
    </button>

    <div class="clear"></div>

    <form id="index-location-search" class="location-search">
      <input id="location" name="location" type="search" class="form-control" placeholder="Search for a location">
      <button type="submit" class="btn btn-primary">
        <span class="step size-14">
          <i class="icon ion-search"></i>
        </span>
      </button>
    </form>

    <div class="clear"></div>
  </div>
</script>
