<script type="template" id="show-layout">
  <section class="full-screen">

    <section id="top-left"></section>

    <section id="top-right"></section>

    <section id="center"></section>

    <section id="bottom-left"></section>

    <section id="bottom-right"></section>

  </section>
</script>
