<script type="template" id="weather-daily-forecasts">
  <p class="small"> <%= summary %> </p>
  <canvas id="daily-chart" width="400" height="280"></canvas>
  <ul id="daily-forecast-list"></ul>
</script>
