<script type="template" id="weather-forecasts-layout">
  <h4>Forecast</h4>
  <ul id="forecast-types">
    <li><a id="weekly-forecast-btn" class="current">weekly</a></li>
    <li><a id="hourly-forecast-btn">hourly</a></li>
  </ul>
  <div class="clear"></div>
  <div id="forecasts-container"></div>
</script>
