<script type="template" id="weather-recent-searches">
  <h4>Recent Searches</h4>

  <ul id="recent-searches-list"></ul>

  <form id="location-search" class="location-search">
    <input id="location" name="location" type="search" class="form-control" placeholder="Search for a location">
    <button type="submit" class="btn btn-primary">
      <span class="step size-14">
        <i class="icon ion-search"></i>
      </span>
    </button>
  </form>
</script>
